/* 字体 */
@font-face{
    font-family: 'zhuziningjingzhiyu';
    src: url('https://loko.upyun.img.lcoo.cc/font-family/zhuziningjingzhiyu.ttf');
}
@font-face{
    font-family: 'HappyZcool';
    src: url('https://loko.upyun.img.lcoo.cc/font-family/HappyZcool.ttf');
}
